/* CHAN BAR */
.channelHeader {
  width: 100%;
  margin-bottom: 10px;
}

.channelBody {
  width: 100%;
  overflow-y: scroll;
  
}

.channelCategory {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.chanType {
  width: 100%;
  background-color: grey;
  box-shadow: -5px 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.chanEntries {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chanEntry {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid rgba(255, 255, 255, 0.25);
  margin-top: 5px;
}

.chanEntry:hover {
  color: yellow;
  cursor: pointer;
}

/* FILTER */
.chanFilter {
  margin-top: 5px;
}

.filterInput {
  width: 80%;
}

.channelCheckBox {
  margin-left: 5px;
}

/* ADD CHANNEL */
#chanAddButton {
  width: 100px;
  border-radius: 0;
}

.addChanInput {
  display: flex;
  width: 80%;
  margin-bottom: 10px;
}

.inputTitle {
  width: 20%;
}

.inputEntry {
  width: 80%;
  height: 30px;
  margin-left: 10px;
  color: black;
  border: 1px solid black;
}
