.chanUsersBar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

.chanUsersHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.chanUsersBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.backButton {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: rgba(128, 128, 128, 0.329);
  color: white;
}

.usersTitle {
  margin-left: 5px;
}

.banModal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banEntry {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.banInput {
  width: 40px;
  margin-right: 5px;
}

.banCategory {
  margin-right: 5px;
}
