.chatMessages {
  height: 600px;
  display: flex;
  flex-direction: column;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.bubbleOverflow {
  word-break: break-all;
}
