.chat {
  display: flex;
  height: 100%;
}

.main-content {
  text-align: center;
}

.dmWrapper {
  display: flex;
}

.dmEntry {
  border: 2px solid rgba(9, 9, 9, 0.23);
  padding: 5px;
  border-radius: 5px;
}

.chatBody {
  height: 70%;
}

.message {
  display: flex;
  justify-content: center;
  height: 20%;
}

.messageForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.messageInput {
  width: 80%;
  height: 100%;
}

.messageButton {
  height: 40%;
  align-items: flex-end;
}
