.chat {
  display: flex;
  height: 100%;
}

.chatMain {
  width: 100%;
  text-align: center;
}

.dmWrapper {
  display: flex;
}

.chatBody {
  height: 420px;
}

.chanUsers {
  width: 20%;
  height: 600px;
  box-shadow: 2px 2px 2px 2px rgba(0.23, 0.23, 0.23, 0.23);
  text-align: center;
}

.message {
  display: flex;
  justify-content: center;
  height: 20%;
}

.messageForm {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.messageInput {
  width: 80%;
  height: 100%;
}

.messageButton {
  height: 40%;
  align-items: flex-end;
}
