.navigation {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0.5rem 0rem;
    background-color: #003566;
  }

  .navigation-menu ul {
    display: flex;
    padding: 0;
  }
  .navigation-menu li {
    list-style-type: none;
    color: #ffc300;
    font-size: 26px;
    font-style: bold;
    margin: 0 1rem;
  }

  .title {
    border: 1px solid #ffc300;
    padding-left: 2%;
    padding-right: 2%;
    border-radius: 5px;
  }
  .title:hover {
    border-bottom: 2px solid #ffc300;
  }

  .navigation-menu li a {
    text-decoration: none;
    display: block;
    width: 100%;
  }

  .navigation-menu li a:hover {
    opacity: 0.8;
  }

.profile{
    max-height: 42px;
    max-width:  42px;
    margin-left: 100%;
    border: 2px solid #ffc300;
    border-radius: 50%;
}