input {
  width: 80%;
}

.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.playBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.playerEntry {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.spectators {
    margin-top: 10%;
}