.contact {
  border: 2px solid ;
  
  border-radius: 10px;
  margin-left: 20px;
  /*min-width: 200px;*/
  width: 20%;
  height: 720px;
/* a voir */
  background-color: #003566;
  display: flex;
  justify-content: center;
}

.contacts {
  width: 80%;
}

.header {
  text-align: center;
}

.users {
  width: 100%;
  text-align: center;
}

.userEntry {
  border: 2px solid #ffc300;
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
}

.userEntry:hover {
  background-color: grey;
}

.form {
  display: flex;
}
