.container {
  display: flex;
  vertical-align: baseline;
}

/*.main {
  color: aliceblue;
  flex-direction: column;
  border-radius: 10px;
  //min-width: 800px;
  width: 100%;
  vertical-align: baseline;
  background-color: #003566;
  flex-grow: 1;
  display: flex;
  border-right: 2%;
}*/
