.header {
  display: flex;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.center {
  color: aliceblue;
  flex-direction: column;
  border-radius: 10px;
  /*min-width: 800px;*/
  width: 80%;
  vertical-align: baseline;
  flex-grow: 1;
  display: flex;
  border-right: 2%;
}

.customButton {
  background-color: rgba(0, 0, 0, 0.377);
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0.23, 0.23, 0.23, 0.23);
  border-radius: 20px;
}

.customButton:hover {
  color: lightgrey;
}

.inputEntry {
  text-align: left;
  padding-left: 5px;
}
