.play {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.playBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.playerEntry {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.spectators {
  margin-top: 10%;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 200px;
}

#searchOpponentButton {
  width: 200px;
}

h1 {
  font-size: 30px;
}
