.profil {
  display: flex;
  justify-content: center;
  min-height: 50%;
}

.avatar:hover {
  opacity: 0.8;
  cursor: pointer;
  filter: grayscale(0.5);
  filter: blur(2px);
}

.avatar-txt {
  display: none;
  position: absolute;
  color: aliceblue;
  font-weight: bold;
}

.avatar-txt:hover {
  cursor: pointer;
}

.avatar-txt:hover + .avatar {
  filter: blur(2px);
}

.avatar:hover + .avatar-txt {
  display: block;
  cursor: pointer;
}

.twoFa {
  display: flex;
  margin-top: 50px;
}

input {
  color: black;
  text-align: center;
  font-size: large;
  opacity: 1; /* Firefox */
}
